// colors
$text-color: #ffffff;

// font stack
$font-family-sans: 'barlow';
$font-family-serif: 'bellefair', serif;
$font-family-sans-condensed: 'barlow_condensed';

// break points
$medium : 35em;
$large: 58em;