@media (min-width: $xlarge) {

    main {
        justify-content: space-between;
        padding-inline: calc(7rem + 3vw);
        padding-block: 15rem 7.5rem;

        h1 {
            font-size: 9rem;
        }
    
        h3 {
            font-size: 3.5rem;
        }
    
        h4 {
            font-size: 2rem;
        }
    
        h5 {
            font-size: 2rem;
        }
    
        .body-text {
            font-size: 1.2rem;
            line-height: 33px;
            max-width: 32rem !important;
        }
    
        .subheading-2 {
            font-size: 1rem;
        }

    }

    .h4-container {
        padding: 3.5em !important;
    }
}