@import 'variables';
@import 'resets';
@import 'general';
@import 'nav';

body {
    @include set-background('background-home.jpg');
}

.h4-container {
    background-color: #fff;
    padding: 3em;
    aspect-ratio: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    background-clip: padding-box;
    cursor: pointer;
    transition: 2s linear;

    &:hover {
        border: 50px solid rgba(255, 255, 255, 0.2);
    }

    h4 {
        color: #000;
    }
}

main {
    @include large {
        align-items: flex-end;
    }
}
